.the {
    background-color: #040D1F;
    padding: 77px 0 60px;
}

.the__wrapper {

}

.the__header {
    color: #F18128;
    font-family: 'Comfortaa';
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    border-bottom: 2px solid #F18128;
    display: inline-block;
    padding-bottom: 10px;
}

.the__list {
    margin-top: 55px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 31px;
}

.the__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 255px;
    background-position: center;
    background: url('/img/the__item-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    padding: 167px 14px 19px;
    border-radius: 6px;
    transition: background-size 0.2s ease;
    transition: background-size 0.2s ease-in;
    -moz-transition: background-size 0.2s ease-in;
    background-size: 103%;
}

.the__item:hover {
    background-size: 110%;
}

.the__item:nth-child(2) {

    background-image: url('/img/the__item-2.jpg');

}
.the__item:nth-child(3) {

    background-image: url('/img/the__item-3.jpg');

}
.the__item:nth-child(4) {

    background-image: url('/img/the__item-4.jpg');

}

.the__item-header {
    color: #FFF;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 12px;
}

.the__item-text {
    color: #FFF;
    font-family:'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}