.game {
    padding-top: 54px;
    background-color: #040D1F;
}

.game__wrapper {
    padding: 96px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/img/game__bgi.jpg');
    background-repeat: no-repeat;
    background-size: 103%;
    border-radius: 6px;
    background-position: center;

}

.game__header {
    color: #FFF;
    font-family: 'Comfortaa';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.game__text {
    margin: 27px 0 30px 0;
    color: #FFF;
    text-align: center;
    font-family: 'Comfortaa';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    max-width: 1069px;
}

.game__btn {
    color: #000;
    text-align: justify;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    border-radius: 4px;
    background: #F18128;
    padding: 18px 0;
    width: 160px;
    text-align: center;
    border: none;
}