.see {
    background: linear-gradient(135deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
    padding: 20px 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.see__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.see__img {
    
}

.see__text {
    margin-left: 20px;
    max-width: 166px;
    color: #FFF;
    font-family: Comfortaa;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}